.header{
    border: 1px solid #000000;
    padding: 10px 30px;
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .links > ul{
            display: flex;

            gap: 30px;
            list-style-type: none;
        }
    }
}
.res-body{
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #000000;

    .restro-container{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .res-card{
            border: 1px solid #000000;
            width: 300px;
            .res-img{
                height: 200px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .shimmer-cards{
        width: 200px;
        height: 400px;
        background-color: #f0f0f0;
    }
}

.img-responsive{
    max-width: 100%;
    height: auto;
}